.user-pic{
  display: none;
}

@media only screen and (max-width: 765px){
  .user-pic{
    display: block;
  }

  .logo-e-operasional{
    width: 80%
  }
}

.badge-container{
  position: relative; 
  float: right; 
  margin-bottom: -24px; 
  z-index: 1; 
  margin-top: 10px
}

.bell-icon-container{
  position: relative; 
  font-size: 17pt; 
  color: #fff; 
  margin-right: 10px; 
  margin-top: 20px
}

#main_notifications{
  height: 800px;
  overflow-y: scroll;
}

/* width */
#main_notifications::-webkit-scrollbar {
  width: 6px;
}

/* Track */
#main_notifications::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
#main_notifications::-webkit-scrollbar-thumb {
  background: #999999; 
  border-radius: 30px
}

/* Handle on hover */
#main_notifications::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.loader {
  display:    none;
  position:   fixed;
  z-index:    1000;
  top:        0;
  left:       0;
  height:     100%;
  width:      100%;
  background: rgba( 255, 255, 255, .8 ) 
              url('../images/loader-2.gif') 
              50% 50% 
              no-repeat;
}


div.loading .loader {
  overflow: hidden;   
  display: block;
}
