.radio label,.radio-inline label,.checkbox label,.checkbox-inline label{
    padding-left:55px
}
.radio input[type="radio"],.radio input[type="checkbox"],.radio-inline input[type="radio"],.radio-inline input[type="checkbox"],.checkbox input[type="radio"],.checkbox input[type="checkbox"],.checkbox-inline input[type="radio"],.checkbox-inline input[type="checkbox"]{
    margin-left:-25px
}
input[type="radio"],.radio input[type="radio"],.radio-inline input[type="radio"]{
    position:relative;
    margin-right:10px;
    vertical-align:top;
    border:none;
    background-color:transparent;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer
}
input[type="radio"]:focus,.radio input[type="radio"]:focus,.radio-inline input[type="radio"]:focus{
    outline:none
}
input[type="radio"]:before,input[type="radio"]:after,.radio input[type="radio"]:before,.radio input[type="radio"]:after,.radio-inline input[type="radio"]:before,.radio-inline input[type="radio"]:after{
    content:"";
    display:block;
    width:20px;
    height:20px;
    border-radius:50%;
    -webkit-transition:240ms;
    transition:240ms
}
input[type="radio"]:before,.radio input[type="radio"]:before,.radio-inline input[type="radio"]:before{
    position:absolute;
    left:0;
    top:0px;
    background-color:#2196F3;
    -webkit-transform:scale(0);
    transform:scale(0)
}
input[type="radio"]:after,.radio input[type="radio"]:after,.radio-inline input[type="radio"]:after{
    position:relative;
    top:0px;
    border:2px solid #bbb
}
input[type="radio"]:checked:before,.radio input[type="radio"]:checked:before,.radio-inline input[type="radio"]:checked:before{
    -webkit-transform:scale(0.5);
    transform:scale(0.5)
}
input[type="radio"]:disabled:checked:before,.radio input[type="radio"]:disabled:checked:before,.radio-inline input[type="radio"]:disabled:checked:before{
    background-color:#dee2e6
}
input[type="radio"]:checked:after,.radio input[type="radio"]:checked:after,.radio-inline input[type="radio"]:checked:after{
    border-color:#2196F3
}
input[type="radio"]:disabled:after,input[type="radio"]:disabled:checked:after,.radio input[type="radio"]:disabled:after,.radio input[type="radio"]:disabled:checked:after,.radio-inline input[type="radio"]:disabled:after,.radio-inline input[type="radio"]:disabled:checked:after{
    border-color:#dee2e6
}

h5{
	color:  #209270;
	font-size: 13pt;
	font-weight: 600;
}

p{
	text-decoration: underline;
	font-size: 11pt;
    font-style: italic;
}

@media only screen and (max-width: 700px){

	input[type="radio"], .radio input[type="radio"], .radio-inline input[type="radio"]{
	    margin-right:10px;
	}

	.radio label,.radio-inline label{
    	font-size: 10pt;
	}

	h5{
		font-size: 11pt;
		line-height: 30px;
	}

	p{
		font-size: 11pt;
	}

}